body {
    background: #f4f4f9;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    padding-top: 40px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.card-group {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 250px;
    text-align: center;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
}

.card h3 {
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.btn:hover {
    background: #0056b3;
}

.disabled {
    background: red !important;
    pointer-events: none;
}
.form-box {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 350px;
    margin: auto;
}

input, select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.message {
    text-align: center;
    color: green;
    font-weight: bold;
}
.table {
    width: 100%;
    background: white;
    border-collapse: collapse;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
}

.table th, 
.table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.table th {
    background: #007bff;
    color: white;
    text-align: left;
}

.btn.small {
    padding: 6px 10px;
    font-size: 14px;
}

.btn.delete {
    background: red;
}

.btn.delete:hover {
    background: darkred;
}
#customer_id
{
    background-color: red;
}